# Diretório node_modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Diretórios de build/output
dist/
build/
tmp/
out/

# Arquivos de pacotes e lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Testes e relatórios de cobertura
coverage/
.nyc_output/
test-output/

# IDEs e editores
.vscode/
.idea/
.DS_Store

# Outros arquivos e diretórios temporários
*.tmp
*.temp
*.swp
*.swo
*.bak

# Servidor
pids/
*.pid
*.seed
*.pid.lock

# Linting
.eslintcache

# Diretórios do sistema operacional
Thumbs.db
